{% extends "base.html" %}
{% load static %}
{% block head_title %}Bienvenidos | {{block.super}}{% endblock %}

<style>
    {% block style %}
    {% endblock %}
</style>



{% block content %}
    <div class = "row">
        <div class="col-sm-3">
            <!--<p class="lead text-align-center">
                Creado con Django &amp; Bootstrap
                <br>
                <i class="fas fa-database fa-pulse fa-5x"></i>
            </p>-->

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/pc_logo.jpg' %}" align = "right" alt="Card image cap" style="width: 2.5rem">
                    <br>
                    <h5 class="card-title">Todos mid</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Vence en: 1 hora</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/lol_logo.png' %}" align = "left" alt="Card image cap" style="width: 2.5rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">League of Legends</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">3/5 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 300
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--<p class="lead text-align-center">Y con mucho amor, claro.</p>-->

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/xbox_one_logo.png' %}" align = "right" alt="Card image cap" style="width: 8rem">
                    <br>
                    <h5 class="card-title">1 VS 1</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 2:36</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/db_fighterZ_logo.jpg' %}" align = "left" alt="Card image cap" style="width: 7rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Dragon Ball Fighter Z</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">0/1 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 1000
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--<p class="lead text-align-center">Código abierto, siempre.
                <br>
                <i class="fas fa-cog fa-spin fa-5x"></i>
            </p>-->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/pc_logo.jpg' %}" align = "right" alt="Card image cap" style="width: 2.5rem">
                    <br>
                    <h5 class="card-title">Ornstein y Smough</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 10:02</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/dark_souls_remastered_logo.png' %}" align = "left" alt="Card image cap" style="width: 8rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Dark Souls: REMASTERED</p>
                            </td>
                        </tr>
                        <tr>

                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">0/1 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 10000
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">

            <!--
         <p class="lead text-align-center">Subsribirse</p>
        <form method ='POST' action = "">{% csrf_token %}
            {{el_form.as_p}}
            <input class='btn btn-primary' type='submit' value='Enviar'>
        </form>

        <p class="lead text-align-center">{{el_titulo}}
            <br>
            <br>
            <i class="fas fa-stroopwafel fa-spin fa-5x"></i>
        </p>
        -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/PS4_logo.png' %}" align = "right" alt="Card image cap" style="width: 10rem">
                    <br>
                    <h5 class="card-title">Supervivencia</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 5:06</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/gta_online_logo.png' %}" align = "left" alt="Card image cap" style="width: 5rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Grand Theft Auto V online</p>
                            </td>
                        </tr>
                        <tr>

                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">3/4 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Trofeo:</p>

                        <table>
                            <tr>
                                <td>
                                    <img class="card-img-top" src="{% static 'img/gta_logro.jpg' %}" align = "left" alt="Card image cap" style="width: 2.5rem">
                                </td>
                                <td>
                                    <p style="margin-left: 10px">Selección antinatural</p>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="list-group-item">REWARD: 350
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class="col-sm-3">
            <!--<p class="lead text-align-center">
                Creado con Django &amp; Bootstrap
                <br>
                <i class="fas fa-database fa-pulse fa-5x"></i>
            </p>-->

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/pc_logo.jpg' %}" align = "right" alt="Card image cap" style="width: 2.5rem">
                    <br>
                    <h5 class="card-title">Todos mid</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Vence en: 1 hora</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/lol_logo.png' %}" align = "left" alt="Card image cap" style="width: 2.5rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">League of Legends</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">3/5 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 300
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--<p class="lead text-align-center">Y con mucho amor, claro.</p>-->

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/xbox_one_logo.png' %}" align = "right" alt="Card image cap" style="width: 8rem">
                    <br>
                    <h5 class="card-title">1 VS 1</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 2:36</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/db_fighterZ_logo.jpg' %}" align = "left" alt="Card image cap" style="width: 7rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Dragon Ball Fighter Z</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">0/1 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 1000
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--<p class="lead text-align-center">Código abierto, siempre.
                <br>
                <i class="fas fa-cog fa-spin fa-5x"></i>
            </p>-->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/pc_logo.jpg' %}" align = "right" alt="Card image cap" style="width: 2.5rem">
                    <br>
                    <h5 class="card-title">Ornstein y Smough</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 10:02</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/dark_souls_remastered_logo.png' %}" align = "left" alt="Card image cap" style="width: 8rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Dark Souls: REMASTERED</p>
                            </td>
                        </tr>
                        <tr>

                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">0/1 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">REWARD: 10000
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">

            <!--
         <p class="lead text-align-center">Subsribirse</p>
        <form method ='POST' action = "">{% csrf_token %}
            {{el_form.as_p}}
            <input class='btn btn-primary' type='submit' value='Enviar'>
        </form>

        <p class="lead text-align-center">{{el_titulo}}
            <br>
            <br>
            <i class="fas fa-stroopwafel fa-spin fa-5x"></i>
        </p>
        -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/PS4_logo.png' %}" align = "right" alt="Card image cap" style="width: 10rem">
                    <br>
                    <h5 class="card-title">Supervivencia</h5>
                    <hr>
                    <p class="card-text" style="text-align: right; font-size: 14px;">Quedan: 5:06</p>
                    <table>
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static 'img/gta_online_logo.png' %}" align = "left" alt="Card image cap" style="width: 5rem">
                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">Grand Theft Auto V online</p>
                            </td>
                        </tr>
                        <tr>

                            <td>

                            </td>
                            <td>
                                <p class="card-text" style="text-align: right; font-size: 20px;">3/4 Jugadores</p>
                            </td>

                        </tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Trofeo:</p>

                        <table>
                            <tr>
                                <td>
                                    <img class="card-img-top" src="{% static 'img/gta_logro.jpg' %}" align = "left" alt="Card image cap" style="width: 2.5rem">
                                </td>
                                <td>
                                    <p style="margin-left: 10px">Selección antinatural</p>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="list-group-item">REWARD: 350
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Leer más</a>
                    <a href="#" class="card-link">Rechazar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
