{% extends "base.html" %}
{% load static %}
{% block head_title %}Bienvenidos | {{block.super}}{% endblock %}

<style>
    {% block style %}
    .jumbotron{
        background-color: #577da4 !important;
        color: white !important;
    }

    .fa-5x{
        font-size: 15em !important;
    }
    {% endblock %}
</style>



{% block content %}
<div class = "row">
    <div class="col-sm-3">
        <!--<p class="lead text-align-center">
            Creado con Django &amp; Bootstrap
            <br>
            <i class="fas fa-database fa-pulse fa-5x"></i>
        </p>-->
    </div>

    <div class="col-sm-3">
        <!--<p class="lead text-align-center">Y con mucho amor, claro.</p>-->
    </div>

    <div class="col-sm-3">
        <!--<p class="lead text-align-center">Código abierto, siempre.
            <br>
            <i class="fas fa-cog fa-spin fa-5x"></i>
        </p>-->
    </div>

    <div class="col-sm-3 col-xs-12">

        <!--
         <p class="lead text-align-center">Subsribirse</p>
        <form method ='POST' action = "">{% csrf_token %}
            {{el_form.as_p}}
            <input class='btn btn-primary' type='submit' value='Enviar'>
        </form>

        <p class="lead text-align-center">{{el_titulo}}
            <br>
            <br>
            <i class="fas fa-stroopwafel fa-spin fa-5x"></i>
        </p>
        -->
    </div>
</div>
{% endblock %}
