/* Show it's not fixed to the top */
body {
  min-height: 65rem;

}

.bg-dark{
  background-color: #2c4660 !important;
}

.mb-4{
  margin-bottom: 0 !important;
}

.navbar-brand{
  color: #ba8b00 !important;
}

.navbar-brand:hover{
  color: gold !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: orange;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: darkorange;
}

.navbar-dark .navbar-nav .active > .nav-link{
  color: green;
}

.navbar-dark .navbar-nav .active > .nav-link:hover{
  color: greenyellow;
}

.btn{
  /*color: gold;
  background-color: #0c5460;*/
}


.btn:hover{
  color: palegoldenrod;
  background-color: #4e555b;
}


