/* Show it's not fixed to the top */
body {
  min-height: 65rem;
}

.bg-dark{
  background-color: #8b5520 !important;
}

.mb-4{
  margin-bottom: 0 !important;
}

.navbar-brand{
  color: gold !important;
}

.navbar-brand:hover{
  color: #ba8b00 !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: #00ff30;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #008d1d;
}

.navbar-dark .navbar-nav .active > .nav-link{
  color: #29e3f2;
}

.navbar-dark .navbar-nav .active > .nav-link:hover{
  color: #06076a;
}

.btn{
  /*color: gold;
  background-color: #0c5460;*/
}


.btn:hover{
  /*color: palegoldenrod;
  background-color: #4e555b;*/
}


